### Question 1

In [152]:
score_list = [ 78, 90, 67, 52, 84] #1a

In [153]:
highest_score = max (score_list)

In [154]:
print(highest_score) #1b(i)

90

In [155]:
lowest_score = min (score_list)

In [156]:
print(lowest_score) #1b(ii)

52

In [157]:
sum_score = sum(score_list)

In [158]:
len_score = len(score_list)

In [159]:
average_score = (sum_score/len_score)

In [160]:
print(average_score) #1c

74.2

In [161]:
age1 = (score_list[1])

In [162]:
age2 = (score_list[-2])

In [163]:
print(f"James's best score is {age1}, and his lowest score is {age2}. His average score is {average_score}") #1d

James's best score is 90, and his lowest score is 52. His average score is 74.2

## Question 2

In [164]:
groceries_amount = [1200, 1000, 450, 780, 870, 1100, 1500]  #2a

In [165]:
most_expensive_amount = max (groceries_amount)

In [166]:
print(most_expensive_amount) #2b

1500

In [167]:
least_expensive_amount = min(groceries_amount)

In [168]:
print(least_expensive_amount)  #2c

450

In [169]:
groceries_amount.sort()

In [170]:
print(groceries_amount)

[450, 780, 870, 1000, 1100, 1200, 1500]

In [ ]:
Most_expensive_3 = groceries_amount[4:7] #2d

In [172]:
print(Most_expensive_3)

[1100, 1200, 1500]

## Question 3

In [173]:
packing_list = ['clothes', 'shoes', 'toiletries', 'snacks', 'bags']   #3a

In [174]:
remove_snacks = packing_list.remove('snacks')  #3b

In [175]:
print(packing_list)

['clothes', 'shoes', 'toiletries', 'bags']

In [176]:
insert_sunglasses = packing_list.insert(0, 'sunglasses')  #3c

In [177]:
print(packing_list)  #3d

['sunglasses', 'clothes', 'shoes', 'toiletries', 'bags']

## Question 4

In [178]:
allen = ("Allen James", 17, "Mechanical Engineering", 4.0)

In [179]:
print ("Name:", allen[0])   #4a
print ("Department:", allen[-2])

Name: Allen James
Department: Mechanical Engineering

In [180]:
allen[3] = 3.8 #4b Tuple are immutable

TypeError: 'tuple' object does not support item assignment

In [ ]:
GPA = 4.0

In [ ]:
type(GPA)  #4c  Float is being used because GPA(Grand Point Total) are calculated averagely and in decimal points

float